@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__link {
    @apply relative block w-fit font-semibold text-white after:absolute after:mt-1 after:block after:h-[3px] after:w-full after:origin-right after:scale-x-0 after:bg-pink-400 after:transition after:duration-300 after:content-[''] after:hover:scale-x-100;
  }

  .item {
    @apply mx-0;
  }

  .container {
    @apply mx-auto;
  }
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.bgImage {
  background-image: url("/images/pic1.png");
  background-size: cover;
  background-position: center;
}

/* Media Query */
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .reduceWidth {
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }

  .reduceBtnText {
    font-size: 12px;
    font-weight: bold;
  }
}
